[phases.setup]
aptPkgs = [
  "libxrender1",
  "libxext6",
  "libsm6",
  "libice6",
  "libxt6",
  "libglu1-mesa"
]
nixPkgs = [
  "xorg.libXrender",
  "xorg.libXext",
  "xorg.libSM",
  "xorg.libXt",
  "xorg.libICE"
]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv && . /opt/venv/bin/activate && pip install --upgrade pip setuptools wheel && pip install --no-build-isolation -r requirements.txt"
]

[start]
cmd = "cd synthesis_route_finder && gunicorn app:app"

